/*上方選單*/
.header {
display: flex;
justify-content: center;
align-items: center;
top: 0px;
}

.link {
margin-top: 30px;
margin-bottom: 20px;
margin-left: 25px;
margin-right: 25px;
font-family: 'Lato', sans-serif;
font-weight: 300;
}

/*Homepage首頁*/
.homepage-container {
display: flex;
flex-wrap: wrap;
height: 720px;
justify-contents: center;
background-image: url(homepage.jpg);
background-size: cover;
background-position: center;
}

/*Gallery首頁*/
.greater-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
min-height: 640px;
padding-left: 50px;
padding-right: 50px;
background-image: url(lake.jpg);
background-size: cover;
}

.image {
display: flex;
margin: 20px;
height: 400px;
width: 200px;
transition: 1s;
}

#street {
background-image: url(Street.jpg);
background-size: cover;
transition: 0.4s
}

#street:hover {
background-image: url(Street_hover.jpg)
}

#stage {
background-image: url(Stage.jpg);
background-size: cover;
transition: 0.4s
}

#stage:hover {
background-image: url(Stage_hover.jpg)
}

#still {
background-image: url(Still.jpg);
background-size: cover;
transition: 0.4s
}

#still:hover {
background-image: url(Still_hover.jpg)
}

#aroundtheworld {
background-image: url(Around_the_World.jpg);
background-size: cover;
transition: 0.4s
}

#aroundtheworld:hover {
background-image: url(Around_the_World_hover.jpg)
}

#home {
background-image: url(Home.jpg);
background-size: cover;
transition: 0.4s
}

#home:hover {
background-image: url(Home_hover.jpg)
}

/*Gallery子頁*/
.photo-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding-left: 30px;
padding-right: 30px;
}

/*Blog首頁*/
.post {
margin-top: 15px;
margin-bottom: 15px;
width: 720px;
}

.text {
font-family: 'Lato', sans-serif;
font-size: 14pt;
font-weight: 300;
line-height: 1.5;
}

.read {
font-family: 'Lato', sans-serif;
font-weight: 300;
color: #975B0B;
}

/*Blog子頁*/

.blog-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
min-height: 640px;
padding-left: 20px;
padding-right: 20px;
background-color: white;
background-size: cover;
}

.article {
margin-left: 10px;
margin-right: 10px;
margin-top: 15px;
margin-bottom: 15px;
width: 640px;
}

.contenten {
font-family: 'Source Serif Pro', serif;
font-size: 16pt;
font-weight: 300;
line-height: 1.6;
color: #000000;
}

.contentch {
font-family: 'Noto Serif TC', serif;
font-size: 16pt;
font-weight: 400;
line-height: 1.6;
color: #000000;
}

/*About首頁*/
.about-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: top;
min-height: 640px;
padding-left: 20px;
padding-right: 20px;
background-image: url(lake.jpg);
background-size: cover;
}

.intro {
margin-left: 20px;
margin-right: 20px;
max-width: 480px
}

/*超連結*/
a:link {
text-decoration: none;
color: #666666;
transition: 0.4s;
}

a:visited {
text-decoration: none;
color: #666666;
transition: 0.4s;
}

a:hover {
text-shadow: 0em 0em 0.05em;
color: #000000;
}

/*頁面底部*/
.footer {
display: flex;
width: 1600px;
justify-content: center;
align-items: center;
align-self: flex-end;
margin: 10px
}


